*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cinzel", serif;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rm;
  color: #fff;
  background-color: #fff;
}

nav {
  background-color: #232323;
}

h1.header__name-company {
  margin-bottom: 0, 5em;
  font-size: 2rem;
  font-family: "Cinzel", serif;
  color: #d6c78e;
}

.footer {
  color: #fff;
  background-color: #232323;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  color: #fff;
  font-size: 3.6rem;
}
.footer__bottom-text {
  padding: 2em;
  font-size: 1.1em;
  text-align: center;
}
.footer p {
  font-size: 1.5em;
}

.wrapper {
  padding: 6em 2em 2em;
}

.nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transform: translate(-102%);
  transition: transform 0.3s;
  z-index: 10;
}
.nav__mobile--acvite {
  transform: translateX(0);
}
.nav__mobile__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3;
}

.mobile__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.mobile__link:hover {
  color: #d6c78e;
}
.mobile__link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #d6c78e;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
  display: block;
  background-color: #fff;
}
.hamburger-inner {
  background-color: white;
  z-index: 500;
}

.nav__deskop {
  display: none;
}

@media (min-width: 900px) {
  .nav__deskop {
    display: flex;
    justify-content: space-around;
  }
  .deskop__link {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2.9;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
  }
  .deskop__link--border {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2.9;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    border: 1px solid #d6c78e;
  }
  .deskop__link:hover {
    color: #d6c78e;
  }
  .deskop__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #d6c78e;
    opacity: 0;
  }
  .hamburger {
    display: none;
  }
}
:root {
  --first-color: #f9f9f9;
  --second-color: #14161f;
  --border-color: rgba(0, 0, 0, 0.2);
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--second-color);
  background-color: var(--first-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.transactions {
  width: 1000px;
}
.transactions__title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 200;
}
.transactions__list {
  display: flex;
}

.area {
  margin: 0 20px;
  padding: 30px;
  width: 50%;
  border: 1px solid var(--border-color);
}
.area__income {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}
.area__expenses {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */