:root {
	--first-color: #f9f9f9;
	--second-color: #14161f;
	--border-color: rgba(0, 0, 0, 0.2);
}

body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: var(--second-color);
	background-color: var(--first-color);
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.transactions {
	width: 1000px;

	&__title {
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		font-weight: 200;
	}
	&__list {
		display: flex;
	}
}
.area {
	margin: 0 20px;
	padding: 30px;
	width: 50%;
	border: 1px solid var(--border-color);
	&__income {
		margin-bottom: 30px;
		font-size: 28px;
		text-align: center;
	}
	&__expenses{
		margin-bottom: 30px;
		font-size: 28px;
		text-align: center;
	}
}

