body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: $darker;
	background-color: $white;
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.wallet {
	padding: 20px 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-right: 20px;

	width: 400px;
	border: 1px solid $darker;
	&__money {
		margin-top: -10px;
		text-align: center;
		font-size: 60px;
	}
	&__controls {
		display: flex;
		justify-content: space-around;
		margin: 40px 0;
		&--add {
			padding: 12px 20px;
			color: $dark;
			border: 1px solid $darker;
			border-radius: 5px;
			background: none;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
		}
		&--delete {
			padding: 12px 20px;
			color: $dark;
			border: 1px solid $darker;
			border-radius: 5px;
			background: none;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
		}
		&--delete:hover {
			color: $white;
			background-color: $dark;
		}
		&--add:hover {
			color: $white;
			background-color: $dark;
		}
		i {
			margin-right: 10px;
		}
	}
}

.transactions {
	width: 1200px;

	&__title {
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		font-weight: 200;
	}
	&__list {
		display: flex;
	}
}
.area {
	margin: 0 20px;
	padding: 30px;
	width: 50%;
	border: 1px solid $darker;
	&__income {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 30px;
		font-size: 28px;
		text-align: center;
	}
	&__expenses {
		margin-bottom: 30px;
		font-size: 28px;
		text-align: center;
	}
}
@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: color 0.3s;
	}
}
