body {
	font-family: 'Montserrat', sans-serif;
	color: $darker;
	background-color: $white;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-start;
}

.wallet {
	padding: 10px 10px;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;

	width: 300px;
	border: 1px solid $darker;
	&__title {
		text-align: center;
		margin: 10px;
	}
	&__money {
		margin-top: 10px;
		text-align: center;
		font-size: 45px;
	}
	&__controls {
		display: flex;
		justify-content: space-around;
		margin: 20px 0;
		&--add {
			padding: 12px 20px;
			color: $dark;
			border: 1px solid $darker;
			border-radius: 5px;
			background: none;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			text-decoration: none;
		}
		&--delete {
			padding: 12px 20px;
			color: $dark;
			border: 1px solid $darker;
			border-radius: 5px;
			background: none;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			text-decoration: none;
		}
		&--delete:hover {
			color: $white;
			background-color: $dark;
		}
		&--add:hover {
			color: $white;
			background-color: $dark;
		}
		i {
			margin-right: 10px;
		}
	}
}

.exchange {
	padding: 10px 10px;
	&__money {
		margin-top: 10px;
		text-align: center;
		font-size: 45px;
	}
	&__choose {
		margin-top: 10px;
		margin-left: 80px;
	}
}

.tran {
	display: flex;
	justify-content: center;
}
.transactions {
	width: 1200px;
	margin-bottom: 30px;

	&__title {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
	}
	&__list {
		display: flex;
	}
}
.areaplus {
	margin: 0 20px;
	padding: 5px;
	width: 50%;
	border: 1px solid $darker;
	&__income {
		margin-bottom: 30px;
		font-size: 28px;
		text-align: center;
	}
}
.areaminus {
	margin: 0 20px;
	padding: 5px;
	width: 50%;
	border: 1px solid $darker;
	&__expenses {
		margin-bottom: 30px;
		font-size: 28px;
		text-align: center;
	}
}
.transaction {
	padding: 10px 0;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	&__delete {
		margin-left: 10px;
		background: none;
		border: none;
		font-size: 18px;
		color: black;
		cursor: pointer;
		transition: transform 0.3s;
	}

	&__delete:hover {
		transform: scale(0.8);
	}
	&__name {
		font-size: 18px;
	}
}
.transaction:last-child {
	border-bottom: none;
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: color 0.3s;
	}
}
.time {
	padding-top: 20px;
	&__body {
		margin: 10px 10px;
		padding: 10px 10px;
		width: 400px;
		border: 1px solid $darker;
	}
	&__btn {
		width: 10px;
		top: 5px;
		right: 5px;
		padding: 5px 5px;
		font-size: 32px;
		background-color: $white;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
	}
	&__section {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100px;
		background-color: #fff;
		z-index: 100;
	}
	&__cards {
		display: flex;
		justify-content: space-evenly;
		width: 90%;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2px 0;
		width: 218%;
		text-align: center;
		border: 1px solid black;
		border-radius: 8px;
		&--title {
			text-align: center;
		}
	}
	&__number {
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 32px;
	}
}

h3 {padding-bottom: 10px;
	font-size: 24px;
	text-align: center;
}

.add {
	display: none;
	position: absolute;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	background-color: $dark;
	&__error {
		display: none;
		margin-top: 15px;
		color: white;
		background-color: $dark;
	}

	label {
		margin-top: 40px;
		margin-bottom: 5px;
		font-size: 24px;
	}
	input {
		width: 300px;
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 1px;
		font-size: 18px;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;

	button {
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 1px;
		margin: 0 30px;
		padding: 15px 40px;
		font-size: 18px;
		color: #fff;
		border: 1px solid #fff;
		background: none;
		cursor: pointer;
		transition: background-color 0.2s;
	}

	button:hover {
		background-color: $white;
		color: $dark;
	}
}
.data {
	display: none;
	position: absolute;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	background-color: $dark;
	&__buttons {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 30px;

		button {
			padding: 10px 20px;
			border: 1px solid black;
			border-radius: 1px;
			margin: 0 30px;
			padding: 15px 40px;
			font-size: 18px;
			color: #fff;
			border: 1px solid #fff;
			background: none;
			cursor: pointer;
			transition: background-color 0.2s;
		}

		button:hover {
			background-color: $white;
			color: $dark;
		}
	}
	label {
		margin-top: 40px;
		margin-bottom: 5px;
		font-size: 24px;
	}
	input {
		width: 300px;
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 1px;
		font-size: 18px;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;

	button {
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 1px;
		margin: 0 30px;
		padding: 15px 40px;
		font-size: 18px;
		color: #fff;
		border: 1px solid #fff;
		background: none;
		cursor: pointer;
		transition: background-color 0.2s;
	}

	button:hover {
		background-color: $white;
		color: $dark;
	}
}

.date {
	text-align: center;

	input {
		margin-bottom: 30px;
		padding: 10px 20px;
		width: 100px;
	}
}
